/* ------------------ YOUR ORIGINAL CSS ------------------ */
textarea {
    font-family: monospace;
    text-align: left;
}

.field {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
}

.field > img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
}

#board td, .editor td {
    width: 70px;
    height: 70px;
}

#board a, .editor a {
    opacity: 1;
    transition:opacity 100ms ease-out;
    display: block;
    width: 70px;
    height: 70px;
}

#board a:hover, .editor a:hover {
    opacity: 0.4;
}

.editor {
    min-height: 400px;
}

.card {
    min-width: 400px;
}

@media screen and (max-width: 500px) {
    .field > img {
        width: 50px;
        height: 50px;
    }

    #board td, .editor td {
        width: 50px;
        height: 50px;
    }

    .card {
        min-width: 300px;
    }
}

.screen-size-warning {
    display: none;
}

@media screen and (max-width: 1000px) {
    .screen-size-warning {
        display: block;
    }
}

/* ------------------ DARK/LIGHT THEME VARIABLES ------------------ */
body.dark-mode {
    --bg-color: #121212;
    --card-color: #1f1f1f;
    --text-color: #eee;
    --btn-info-warning-color: #000;
    --board-bg: #1a1a1a;
}

body.light-mode {
    --bg-color: #f8f9fa;
    --card-color: #fff;
    --text-color: #000;
    --btn-info-warning-color: #000;
    --board-bg: #e9ecef;
}

/* ------------------ NAVBAR BRAND THEME ------------------ */
.theme-aware-navbar .navbar-brand,
.theme-aware-navbar .navbar-brand span,
.theme-aware-navbar .navbar-brand img {
    color: var(--text-color);
    filter: var(--navbar-img-filter, none);
}


/* ------------------ GENERAL THEME STYLES ------------------ */
body {
    user-select: none;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar,
.card,
.modal-content {
    background-color: var(--card-color);
    color: var(--text-color);
}

.btn-dark,
.btn-success,
.btn-warning,
.btn-info,
.btn-danger {
    font-weight: bold;
}

.btn-warning,
.btn-info {
    color: var(--btn-info-warning-color) !important;
}

/* Board background */
#boardContainer {
    background-color: var(--board-bg);
}

/* Intro container buttons in dark mode */
body.dark-mode .intro-container .btn-warning,
body.dark-mode .intro-container .btn-info {
    color: #000;
}
